.container{
  max-width: 70vw;
  height:100vh;
  margin: 0 auto;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.container .siteName{
    margin-bottom: 2vh;
     font-size: clamp(1.5rem, calc(2vw + 1rem), 3vw);
     padding: 1.8vw 1.3vw;
     border: 2px solid var(--color-1);
     border-radius: 10px;
     width: max-content;
     margin: 0 auto;
}
.signature{
  margin: 3vh auto;
  color: var(--color-3);
  opacity:0.7
}